<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="800"
   height="200"
   viewBox="0 0 211.66666 52.916668"
   version="1.1"
   id="svg5"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs2">
    <rect
       x="-220"
       y="270"
       width="693.00549"
       height="56.7495"
       id="rect612" />
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath19465">
      <rect
         style="fill:none;stroke:#1d2b53;stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect19467"
         width="60.85416"
         height="26.458334"
         x="141.55208"
         y="17.197916" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath245">
      <rect
         style="fill:none;stroke:#1d2b53;stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect247"
         width="60.85416"
         height="26.458332"
         x="140.22917"
         y="18.520834" />
    </clipPath>
    <rect
       x="30.454546"
       y="64.545456"
       width="442.95456"
       height="121.81817"
       id="rect6461" />
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath5628">
      <rect
         style="fill:none;stroke:#1d2b53;stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect5630"
         width="60.85416"
         height="26.458332"
         x="140.22917"
         y="92.604164" />
    </clipPath>
    <rect
       x="-220"
       y="270"
       width="693.00549"
       height="56.7495"
       id="rect612-7" />
  </defs>
  <g
     id="layer1">
    <path
       style="fill:#000000;fill-opacity:0.8;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 82.02082,47.624993 v 2.64584 H 206.375 V 7.9375 h -2.64584 v 39.687493 z"
       id="path549" />
    <rect
       style="fill:#b5ecda;fill-opacity:1;stroke:none;stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect551"
       width="124.26716"
       height="42.249226"
       x="79.462006"
       y="5.3757758" />
    <path
       style="fill:none;stroke:#76988d;stroke-width:0.529167;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 79.904143,47.095833 H 203.2 V 6.35"
       id="path649" />
    <rect
       style="fill:none;stroke:#000000;stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect631"
       width="124.35416"
       height="42.333332"
       x="79.375"
       y="5.2916665" />
    <rect
       style="fill:none;stroke:#000000;stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect633"
       width="2.6458333"
       height="2.6458333"
       x="82.107841"
       y="8.0216045" />
    <g
       id="g639"
       transform="translate(72.760429,-30.427087)"
       style="stroke:#000000;stroke-opacity:1">
      <rect
         style="fill:none;stroke:#000000;stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect635"
         width="2.6458333"
         height="2.6458333"
         x="125.67707"
         y="38.364586" />
      <rect
         style="fill:none;stroke:#000000;stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect637"
         width="1.3229166"
         height="1.3229166"
         x="125.67707"
         y="38.364586" />
    </g>
    <path
       style="fill:#4fb8c3;fill-opacity:1;stroke:#000000;stroke-width:0.529167;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 108.47917,7.9375 88.63541,-1e-7"
       id="path641" />
    <path
       style="fill:#4fb8c3;fill-opacity:1;stroke:#000000;stroke-width:0.529167;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 108.47917,9.2604167 88.63541,2e-7"
       id="path643" />
    <path
       style="fill:#4fb8c3;fill-opacity:1;stroke:#000000;stroke-width:0.529167;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 108.47917,10.583333 h 88.63541"
       id="path645" />
    <path
       style="fill:none;stroke:#ffffff;stroke-width:0.529167;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 79.904167,35.454168 V 5.8208329 H 203.46458"
       id="path781" />
    <text
       xml:space="preserve"
       transform="matrix(0.0842242,0,0,0.0842242,104.35941,-15.448602)"
       id="text610"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect612);fill:#000000;fill-opacity:1;stroke:none"><tspan
         x="-220"
         y="306.93277"
         id="tspan13043"><tspan
           style="font-weight:bold;font-family:'Cascadia Code';-inkscape-font-specification:'Cascadia Code Bold'"
           id="tspan13041">Now Playing</tspan></tspan></text>
    <path
       style="fill:#000000;fill-opacity:0.8;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 7.9375001,47.625 v 2.645833 H 74.083333 l 1.3e-5,-42.3333252 h -2.64584 L 71.4375,47.625 Z"
       id="path30395" />
    <rect
       style="fill:#d9f8fe;fill-opacity:1;stroke:none;stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="rect30397"
       width="66.145836"
       height="42.333332"
       x="5.2916665"
       y="5.2916665" />
    <path
       style="fill:none;stroke:#ffffff;stroke-width:0.529167;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 71.172913,5.8208333 H 5.8208333 V 47.095833"
       id="path7246" />
    <path
       style="fill:none;stroke:#9bb9c1;stroke-width:0.529167;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 5.2916667,47.095833 H 70.908333 V 5.8208334"
       id="path7687" />
    <g
       id="g26123"
       style="stroke:#000000"
       transform="translate(-132.29166)">
      <rect
         style="fill:none;stroke:#000000;stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect30405"
         width="2.6458333"
         height="2.6458333"
         x="140.22917"
         y="7.9375" />
      <rect
         style="fill:none;stroke:#000000;stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect30407"
         width="2.6458333"
         height="2.6458333"
         x="198.4375"
         y="7.9375" />
      <rect
         style="fill:none;stroke:#000000;stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect30409"
         width="1.3229166"
         height="1.3229166"
         x="198.4375"
         y="7.9375" />
      <path
         style="fill:#4fb8c3;fill-opacity:1;stroke:#000000;stroke-width:0.529167;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 144.19791,7.9375 52.91667,0"
         id="path30411" />
      <path
         style="fill:#4fb8c3;fill-opacity:1;stroke:#000000;stroke-width:0.529167;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 144.19791,9.2604167 52.91667,0"
         id="path30413" />
      <path
         style="fill:#4fb8c3;fill-opacity:1;stroke:#000000;stroke-width:0.529167;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m 144.19791,10.583333 52.91667,0"
         id="path30415" />
      <rect
         style="fill:none;stroke:#000000;stroke-width:0.529167;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect30403"
         width="66.145828"
         height="42.333324"
         x="137.58333"
         y="5.2916665" />
    </g>
    <rect
       style="fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1"
       id="GifFrame"
       width="60.854164"
       height="33.072918"
       x="7.9375"
       y="11.90625" />
    <foreignObject
       id="SpotifyFrame"
       width="119.0625"
       height="33.072918"
       x="82.020836"
       y="11.90625">
       <div xmlns="http://www.w3.org/1999/xhtml" class="container">
            <style>
                .main {
                    /*margin-top: 40px;*/
                    display: flex;
                }

                .currentStatus {
                    float: left;
                    font-size: 24px;
                    position: static;
                    margin-top: -5px;
                    margin-left: 10px;
                }
                
                .container {
                    border-radius: 5px;
                    padding: 10px 10px 10px 0px;
                    background-color:#181414;
                }

                .art {
                    width: 27%;
                    float: left;
                    margin-left: -5px;
                }

                .content {
                    width: 71%;
                }

                .song {
                    color: #f7f7f7;
                    overflow:hidden;
                    margin-top: 3px;
                    font-size: 24px;
                    text-align: center;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                }

                .artist {
                    color: #9f9f9f;
                    font-size: 20px;
                    margin-top: 4px;
                    text-align: center;
                    margin-bottom: 5px;
                }

                .cover {
                    width: 100px;
                    height: 100px;
                    border-radius: 5px;
                }

                #bars {
                    width: 40px;
                    height: 30px;
                    bottom: 23px;
                    position: absolute;
                    margin: -20px 0 0 0px;
                }

                .bar {
                    width: 3px;
                    bottom: 1px;
                    height: 3px;
                    position: absolute;
                    background: #1DB954cc;
                    animation: sound 0ms -800ms linear infinite alternate;
                }
                
                div {
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
                }
                
                @keyframes sound {
                    0% {
                        height: 3px;
                        opacity: .35;
                    }

                    100% {
                        height: 15px;
                        opacity: 0.95;
                    }
                }

                {{barCSS|safe}}
            </style>

            <!-- <div class="currentStatus">{{status}}</div> -->

            <div class="main">
                <a class="art" href="{}" target="_blank">
                    <center>
                        <img src="data:image/png;base64, {{image}}" class="cover" />
                    </center>
                </a>

                <div class="content">
                    <div class="song">{{songName}}</div>
                    <div class="artist">{{artistName}}</div>
                    <div id="bars">{{contentBar|safe}}</div>
                </div>
            </div>
        </div>
       </foreignObject>
  </g>
</svg>
